
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.topbackground{
      background-color: #1f2937;
    color: #f9faf8;
    width: 100vw;
    height: 22vh;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    gap: 15px;
    margin-left: 80px;
}
.hero {
  
    display: flex;
    align-self: space-between;
    flex-wrap: wrap;
    gap: 100px;
    padding-left:350px;
}

.button{
    background:#3882f6;
    color: white;
    border-color:white;
    max-height: 30px;
}
.text {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}
.information {
margin: 0px;
    height: 39vh;
}

.achieve {
    align-self: center;
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    max-width: 750px;
    gap: 25px;
}

.words {
    border: 2px solid #1f2937;
    border-radius: 15px;
    padding:5px;
    width: 138px;
    height: 125px;
}

ul {
    display: flex;
     gap:15px;
    margin-left: 70%;
}
li {
    list-style-type: none;
    color: #f9faf8;
   
}
a {
display: flex;
    text-decoration: none;
}

.fullbackground{
    background-color: #e5e7eb;
    height: 15vh;
    width: 100%;
}
.quote {text-align: center;
   
} 
.action {
margin-top: 25px;
margin-bottom: 25px;
padding-left: 155px;
padding-right: 155px;
    background-color: #3882f6;
}

footer {
display: flex;
justify-content: center;
align-self: stretch;
flex:auto;
color: white;
    background-color: #1f2937;
}