
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    width: 100vw;
}

.information {
margin: 0px;
height: 300px;
align-self: space-between;
    width: 100%;
}

.achieve {
    align-self: flex-start;
}

.row-container {
    max-height: 300px;
    display: flex;
    
}

.words {
    width: 125px;
    height: 125px;
}

li {
    list-style-type: none;
    color: #f9faf8;
}
a {

    text-decoration: none;
}

.quote {
    background-color: #e5e7eb;

    width: 100vw;
     margin: 0px;
}

.action {

    width: 100vw;
    flex-basis: 50%;
    background-color: #3882f6;
}

footer {
display: flex;
justify-content: center;
align-self: stretch;
color: white;
    background-color: #1f2937;
}